.container {
  max-width: 800px;
  margin: 0 auto;
}

table {
  margin-top: 50px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Heading */
#user-profile h2{
  background-image:linear-gradient(180deg, rgba(162,159,249,1) 0%, rgba(130,141,255,1) 0%, rgba(131,79,218,1) 100%);
 }


