<h1>Users Info</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Number of bookings</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.bookings.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
