<div class="" id="footer-index">

  <footer class="text-center text-lg-start" style="background-color: #C3C3C3">
    <div class="container d-flex justify-content-center py-5">
              <a href="https://www.facebook.com/pokimane" target="_blank">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b; border-width:0px;">
        <i class="fab fa-facebook-f"></i>
      </button>
      </a>
                <a href="https://youtube.com/channel/UChXKjLEzAB1K7EZQey7Fm1Q" target="_blank">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b; border-width:0px;">
        <i class="fab fa-youtube"></i>
      </button>
      </a>
          <a href="https://www.instagram.com/pokimanelol" target="_blank">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b; border-width:0px;v">
        <i class="fab fa-instagram"></i>
      </button>
      </a>
        <a href="https://twitter.com/pokimanelol" target="_blank">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b; border-width:0px;">
        <i class="fab fa-twitter"></i>
      </button>
      </a>
              <a href="https://www.twitch.tv/pokimane" target="_blank">
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b; border-width:0px;">
        <i class="fab fa-twitch"></i>
      </button>
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="/">A StreamGenie Product</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
