     <!--=============== FOOTER ===============-->
        <footer class="footer section" id="footer">
            <div class="footer__container container grid">
                <a href="#" class="footer__logo">
                    <img src="assets/img/gamydf-01.png" alt="">
                </a>

                <div class="footer__content">
                    <h3 class="footer__title">Products</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">Gaming PCs</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Consoles</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Games</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Accesories</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Support</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">Product help</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Register</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Help center</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__content">
                    <form action="" class="footer__form">
                        <input type="email" placeholder="  Email" class="footer__input">
                        <button class="button button--flex">
                            <i class="ri-send-plane-line button__icon"></i> Waitlist
                        </button>
                    </form>

                    <div class="footer__social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                            <i class="ri-twitter-line"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="footer__copy">
                <a href="#" target="_blank" class="footer__copy-link">&#169; Gamify. A genie product 2023</a>
            </p>
        </footer>


          <style>/* Body */

body{
  background-color:#24273a;
 }

 /* Header */
 #header{
  background-color:#494d64;
 }

 /* Nav  link */
 .nav__list .nav__item .nav__link{
  color:#b8c0e0;
 }

 /* Discount  container */
 #Signin .discount__container{
  background-color:#363a4f;
 }

 /* Form Division */
 #searchbar form{
  background-color:#363a4f;
 }

 /* Article */
 #searchbar article{
  background-color:#363a4f;
 }

 /* Link */
 .footer .footer__social a{
  background-color:#363a4f;
 }

 /* Form Division */
 .footer form{
  background-color:#363a4f;
 }

 /* Heading */
 #specs h2{
  background-image:linear-gradient(180deg, rgba(162,159,249,1) 0%, rgba(130,141,255,1) 0%, rgba(131,79,218,1) 100%);
 }

 /* Heading */
 .home__data .home__header h1{
  background-image:linear-gradient(180deg, rgba(162,159,249,1) 0%, rgba(130,141,255,1) 0%, rgba(131,79,218,1) 100%);
 }

 /* Heading */
 #case h2{
  background-image:linear-gradient(180deg, rgba(162,159,249,1) 0%, rgba(130,141,255,1) 0%, rgba(131,79,218,1) 100%);
 }

 /* Heading */
 #products h2{
  background-image:linear-gradient(180deg, rgba(162,159,249,1) 0%, rgba(130,141,255,1) 0%, rgba(131,79,218,1) 100%);
 }

 /* Footer */
 footer{
  background-color:#494d64;
 }

 /* Product name */
#product_name{
 background-color:#363a4f;
}

/* Product description */
#product_description{
 background-color:#363a4f;
}

/* Product price */
#product_price{
 background-color:#363a4f;
}

/* Product product type */
#product_product_type{
 background-color:#363a4f;
}

/* Product photo */
#product_photo{
 background-color:#363a4f;
}

.products__card {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



</style>
