<div class="container">
  <div class="card-hero"></div>
    <h1>Pages#home</h1>
    <h1>Lend and borrow top notch gaming gear</h1>
    <h2>Best place to liquidify your illiquidity</h2>
    <p>Find me in app/views/pages/home.html.erb</p>
 </div>
</div>
