
  <!-- Hero section -->
  <section class="hero" style="background-image: url('https://i.ibb.co/P1k21VW/Youtube-Gaming-Banner-Template-2.jpg">
    <div class="container">
    </div>
  </section>

  <section class="website-stats">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="stat-box">
          <i class="fa fa-users"></i>
          <h4>10,000+</h4>
          <p>Users</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="stat-box">
          <i class="fa-solid fa-gamepad"></i>
          <h4>50,000+</h4>
          <p>Products</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="stat-box">
          <i class="fa-solid fa-sack-dollar"></i>
          <h4>1,000,000</h4>
          <p>Tx Volume</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="stat-box">
          <i class="fa fa-globe"></i>
          <h4>50+</h4>
          <p>Cities</p>
        </div>
      </div>
    </div>
  </div>
</section>


  <!-- Product Display & Grid -->
  <section class="product-cards">
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4 mb-3">
            <div class="card">
              <%= link_to product_path(product) do %>
                <img src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHZyfGVufDB8fDB8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" class="card-img-top" alt="...">
              <% end %>
                <div class="card-body">
                  <h5 class="card-title" id='name-color'><%= link_to product.name, product_path(product) %></h5>
                  <div class="price-info d-flex justify-content-between">
                    <p class="card-text"><%= number_to_currency(product.price) %></p>
                    <%= link_to product_path(product) do %>
                        <i class="fas fa-info-circle fa-lg" id='info-button'></i>
                    <% end %>
                  </div>
                </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
