/* Button */
.container .col-md-4 .btn-primary{
  transform:translatex(70px) translatey(24px);
 }

 /* Button */
 .col-md-8 .form-inline .btn-primary{
  transform:translatex(518px) translatey(-38px);
 }

#info-button {
  color:#6441A4;
}

#name-color {
  color: black;
}

/* Link */
#name-color a{
  color:#000000;
  text-decoration:none;
 }

 /* Hero */
.hero{
  transform:translatex(-10px) translatey(-13px);
  background-position-y:36%;
 }

 /* Hero */
.hero{
  background-position-y:43%;
  background-repeat:repeat;
 position:relative;
 left:8px;
 }

 #footer-index {
  
 }
