.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}




// /* Navigation */
// /* Logo */
// /* Navbar collapse */
// nav {
//   height: 71px;
// }

// .navbar {
//   a {
//     img {
//       display: inline-block;
//       height: 132px;
//       margin-bottom: 33px;
//       width: 158px;
//       transform: translatex(-225px) translatey(18px);
//     }
//   }

//   .navbar-collapse {
//     ul {
//       transform: translatex(223px) translatey(0px);
//     }
//     transform: translatex(-16px) translatey(0px);
//   }

//   // media query for small screens
//   @media (max-width: 767px) {
//     a {
//       img {
//         transform: none;
//       }
//     }

//     .navbar-collapse {
//       ul {
//         transform: none;
//       }
//       transform: none;
//     }
//   }
// }

// .nav_container {
//   position: fixed;
//   width: 100vw;
//   z-index: 1;
// }

// @media (max-width: 767px) {
//   .nav_container {
//     width: 100%;
//   }
// }
