/* Body */
.registrationbody{
  background-color:#232323;
 }

 /* Label */
 .form-inputs .user_password_confirmation label{
  color:#e0e0e0;
 }

 /* Label */
 .form-inputs .user_password label{
  color:#e0e0e0;
 }

 /* Heading */
 h2{
  color:#e0e0e0;
 }

 /* Label */
 .form-inputs .user_email label{
  color:#e0e0e0;
 }

 /* Link */
 a{
  color:#e0e0e0;
  text-decoration:none;
 }

 /* Button */
 #new_user .form-actions .btn{
  background-color:#6441a4;
  color:#ffffff;
 }


